/****************** common **************/
*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding:0;
    margin:0;
}
.cta{
    display: inline-block;
    padding:0.5rem;
    border-radius:1rem;
    color: black;
}
.flex-container{
    display: flex;
}
.container{
    width:calc(100% - 4rem);
    margin:auto;
}
.m2-bottom{
    margin-bottom:2rem;
}
.p3-left-right{
    padding-left:3rem;
    padding-right:3rem;
}
.p0-bottom{
    padding-bottom:0;
}
.no-decoration{
    text-decoration: none;
}
h1{
    font-size: 2rem;
    margin-top:2rem;
    margin-bottom:2rem;
}
p{
    line-height: 2rem;
}
.font-larger{
    font-size:larger;
}
/****************** flex column **************/
.feature .flex-container,.planning>.flex-container,.benefits>.flex-container,.About-us>.flex-container,.get-started>.flex-container{
    flex-direction: column;
}
/****************** colors ***************/
.bkg-blue{
    background-color: #0084fd;
}
.bkg-light-blue{
    background-color: #b5ddff;
}
.bkg-purple{
    background-color: #9792e4;
}
.bkg-white{
    background-color: white;
}
.white{
    color:white;
}
.blue{
    color: #0084fd;
}
.light-blue{
    color: #b5ddff;
}
.purple{
    color: #9792e4;
}

/*********************** navbar ************************/
nav{
    width:100%;
    background-color:#0084fd;
    color:white; 
}
nav>.flex-container{
    justify-content: space-between;
    align-items: center;
}
.nav-items-desktop{
    display:none;
}
.nav-items,.nav-items-hamb{
    padding:1rem;
}
.nav-item{
    color:rgba(255, 255, 255, 0.662);
}

@media screen and (min-width:900px){
    .nav-items-desktop{
        display:flex;
        align-items: center;
        gap:1rem;
    }
    .nav-items-hamb{
        display:none;
    }
}


/*********************** feature ************************/
.feature{
    padding-top:2rem;
    padding-bottom:4rem;
}
.feature>.flex-container{
    gap:1rem;
}
.card{
    border:none;
    border-radius: 1rem;
    padding:2rem 1rem 2rem 1rem;
}
.card.p0-bottom{
    padding-bottom:0;
}
.card-elements{
    width:100%;
}
.card-elements .cta{
    width:80%;
    text-align: center;
}
.card-elements-dx{
    width:100%;
}
[alt="phone"]{
    width:100%;
}
.feature>.flex-container>.flex-container{
    justify-content: space-between;
    gap:2rem;
}
.card>i{
    font-size: 5rem;
    color:#0084fd;
    margin-bottom:2rem;
}
@media screen and (min-width:650px){
    .feature>.flex-container{
        flex-flow:wrap row;
        gap:1rem;
    }
    .card-elements .cta{
        width:50%;
    }
    .feature>.flex-container>.card:first-child{
        width:calc((100% * 2 / 3) - 1rem / 3);
    }
    .feature .card{
        width:calc((100% - 2rem) / 3)
    }
    [alt="phone"]{
        width:60%;
    }

}
@media screen and (min-width:900px){
    .container{
        width: 60%;
    }   
    .card-elements-sx .cta{
        margin-bottom: 2rem;
    }
    .feature>.flex-container>.flex-container{
        flex-direction: row;;
    }
    .card-elements-sx{
        width:50%;
    }
    [alt="phone"]{
        width:50%;
        align-self:flex-end;
    }
}
/*********************** planning ************************/
.planning{
    padding-top:4rem;
    padding-bottom:4rem;
    background-color: #9792e4;
}
.card2{
    padding-top:4rem;
    padding-bottom:2rem;
}
.card3,.card4{
    border:none;
    border-radius: 2rem;
    padding:2rem 1rem 2rem 1rem;
    margin-bottom:1rem;
    text-align: center;
}
[alt="planning"]{
    width:100%;
}
.cta-next{
    font-size: 1.5rem;
    display: inline-block;
    line-height: 4rem;
    text-align:center;
    height:4rem;
    width:4rem;
    border-radius:50%;
}
@media screen and (min-width:650px){
    .h1-tablet-grow{
        font-size: 3rem;
    }
}
@media screen and (min-width:900px){
    .planning>.flex-container{
        flex-direction:row;
        gap:2rem;
        width:50%;
        align-items: flex-end;
    }
    .h1-tablet-grow{
        font-size: 2rem;
    }
}   
/*********************** expert ********************/
.expert{
    padding-top:4rem;
    padding-bottom:4rem;
}
.expert>.container{
    text-align: center;
}
.expert .flex-container{
    flex-direction: column;
}
[alt="experts"],[alt="about"]{
    object-fit: cover;
    width:60%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom:1rem;
}
.card4{
    align-items: center;
    background-color: #9792e4;
    margin-top:2rem;
}
h3{
    padding-top:1rem;
}
@media screen and (min-width:650px){
    .expert .flex-container{
        flex-flow:wrap row;
        gap:1rem;
    }
    .card4{
        text-align: left;
    }
    .description{
        width:calc((100% - 1rem)* 2 / 3);
    }
    [alt="experts"]{
        width:calc((100% - 1rem) / 3);
    }
}
@media screen and (min-width:900px){
    .expert .flex-container{
        gap:2rem;
    }
    .description{
        width:calc((100% - 2rem)* 2 / 3);
    }
    [alt="experts"]{
        width:calc((100% - 2rem) / 3);
    }
}
/*********************** benefits ********************/
.benefits{
    background-color: #9792e4;
    padding-top:4rem;
    padding-bottom:4rem;
}
.benefits .flex-container{
    gap:1rem;
}
.benefits>h1{
    text-align: center;
}
.benefits .cta{
    width:40%;
    text-align: center;
}
@media screen and (min-width:650px){
    .benefits .flex-container{
        flex-flow:wrap row ;
    }
    .benefits .card{
        width:calc((100% - 1rem) / 2);
    }
}
@media screen and (min-width:900px){
    .benefits .card{
        width:calc((100% - 2rem) / 3);
    }
}
/*********************** About us ********************/
.About-us{
    padding-top:4rem;
    padding-bottom:4rem;
}
.card5{
    padding-top:2rem;
    padding-bottom:2rem;
}
.quotation-image{
    position: relative;
    display: inline-block;
    width:100%;
}
.quotation-image>i{
    position:absolute;
    font-size: 400%;
    right:40%;
    top:0;
    color:#9792e4;
}
@media screen and (min-width:650px){
    .About-us .flex-container{
        flex-flow:wrap row ;
        gap:4rem;
    }
    .About-us .card5:first-child{
        width:calc((100% - 4rem) * 2 / 3);
    }
    .About-us .card5:last-child{
        width:calc((100% - 4rem) / 3);
    }
    [alt="about"]{
        width:100%;
    }
    .quotation-image>i{
        right:0;
    }
}
/******************** get-started ****************/
.txt-center{
    text-align: center;
}
@media screen and (min-width:900px){
    .get-started .container,.terms .container{
        width:30%;
    }
}
/**************** footer ************/
.terms{
    background-color: rgb(51, 51, 51);
    color:white;
}