/****************** common **************/
*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding:0;
    margin:0;
}
.cta{
    display: inline-block;
    padding:1rem 3rem 1rem 3rem;
    border-radius:1rem;
}
.cta-next{
    display: inline-block;
    line-height: 2rem;
    text-align:center;
    height:2rem;
    width:2rem;
    border-radius:50%;
}
.flex-container{
    display: flex;
}
.container{
    width:calc(100% - 4rem);
    margin:auto;
}
.m2-bottom{
    margin-bottom:2rem;
}
/****************** flex column **************/
.feature>.flex-container,.planning>.flex-container,.benefits>.flex-container,.About-us>.flex-container,.get-started>.flex-container{
    flex-direction: column;
}
/****************** colors ***************/
.bkg-blue{
    background-color: #0084fd;
}
.bkg-light-blue{
    background-color: #b5ddff;
}
.bkg-purple{
    background-color: #9792e4;
}
.bkg-white{
    background-color: white;
}
.white{
    color:white;
}
.blue{
    color: #0084fd;
}
.light-blue{
    color: #b5ddff;
}
.purple{
    color: #9792e4;
}

/*********************** navbar ************************/
nav.flex-container{
    width:100%;
    justify-content: space-between;
    background-color:#0084fd;
    color:white;    
}
.nav-items-desktop{
    display:none;
}
.nav-items{
    padding:1rem;
}
/*********************** feature ************************/
.feature{
    padding-top:2rem;
    padding-bottom:4rem;
}
.card{
    border:none;
    border-radius: 1rem;
    padding:2rem 1rem 2rem 1rem;
    margin-bottom:1rem;
}
@media screen and (min-width:481px){
    .feature>.flex-container{
        flex-flow:wrap row;
        gap:1rem;
    }
    .feature>.flex-container>.card:first-child{
        width:calc((100% * 2 / 3) - 1rem / 3);
    }
    .feature .card{
        width:calc((100% - 2rem) / 3)
    }

}
@media screen and (min-width:769px){
    .container{
        width: 60%;
    }   
}
/*********************** planning ************************/
.planning{
    padding-top:4rem;
    padding-bottom:4rem;
    background-color: #9792e4;
}
.card2{
    padding-top:4rem;
    padding-bottom:2rem;
}
h1{
    margin-top:2rem;
    margin-bottom:2rem;
}
.card3,.card4{
    border:none;
    border-radius: 2rem;
    padding:2rem 1rem 2rem 1rem;
    margin-bottom:1rem;
    text-align: center;
}
[alt="planning"]{
    width:100%;
}
@media screen and (min-width:769px){
    .planning>.flex-container{
        flex-direction:row;
        gap:2rem;
        width:50%;
    }
}   
/*********************** expert ********************/
.expert{
    padding-top:4rem;
    padding-bottom:4rem;
}
.expert>.container{
    text-align: center;
}
.expert .flex-container{
    flex-direction: column;
}
[alt="experts"],[alt="about"]{
    object-fit: cover;
    width:60%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom:1rem;
}
.card4{
    align-items: center;
    background-color: #9792e4;
    margin-top:1rem;
}
h3{
    padding-top:1rem;
}
@media screen and (min-width:480px){
    .expert .flex-container{
        flex-flow:wrap row;
        gap:1rem;
    }
    .card4{
        text-align: left;
    }
    .description{
        width:calc((100% - 1rem)* 2 / 3);
    }
    [alt="experts"]{
        width:calc((100% - 1rem) / 3);
    }
}
@media screen and (min-width:769px){
    .expert .flex-container{
        gap:2rem;
    }
    .description{
        width:calc((100% - 2rem)* 2 / 3);
    }
    [alt="experts"]{
        width:calc((100% - 2rem) / 3);
    }
}
/*********************** benefits ********************/
.benefits{
    background-color: #9792e4;
}
.benefits>h1{
    text-align: center;
}
@media screen and (min-width:480px){
    .benefits .flex-container{
        flex-flow:wrap row ;
        gap:1rem;
    }
    .benefits .card{
        width:calc((100% - 1rem) / 2);
    }
}
@media screen and (min-width:769px){
    .benefits .card{
        width:calc((100% - 2rem) / 3);
    }
}
/*********************** About us ********************/

.card5{
    padding-top:2rem;
    padding-bottom:2rem;
}
@media screen and (min-width:480px){
    .About-us .flex-container{
        flex-flow:wrap row ;
        gap:2rem;
    }
    .About-us .card5{
        width:calc((100% - 2rem) / 2);
    }
}
@media screen and (min-width:769px){
    .About-us .card5:first-child{
        width:calc((100% - 2rem) * 2 / 3);
    }
    .About-us .card5:last-child{
        width:calc((100% - 2rem) / 3);
    }
}
/******************** get-started ****************/
.txt-center{
    text-align: center;
}
@media screen and (min-width:769px){
    .get-started .container,.terms .container{
        width:30%;
    }
}
/**************** footer ************/
.terms{
    background-color: rgb(51, 51, 51);
    color:white;
}